.signup-page-wrapper {
    border: 5px black solid;
    border-radius: 20px;
    width: 25%;
    background-color: #f5efdc;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.signup-input-field-wrapper {
    display: grid;
    grid-template-rows:
        1fr 1fr 1fr 1fr 1fr,
        1fr,
        1fr,
        1fr;
    gap: 5px;
}

.signup-input-page-btn-wrapper {
    margin-top: 20px;
    padding-left: 30%;
    padding-right: 30%;
}

.login-btns {
    padding: 10px;
    margin-top: 10px;
}
